<a href="https://colab.research.google.com/github/anu3200/Assignment/blob/main/Assignment_4_Case_Study_on_Regression_by_Anu_Viswanath_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#importing the libraries
import pandas as pd
import numpy as np
df=pd.read_csv('/content/car_age_price (1).csv')
df

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [15]:
df.shape

(112, 2)

In [16]:
df.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [17]:
# fetching the values from the given column

In [18]:
# reshaping it to our expected format to feed into the model
print("Expected format is: \n", df['Year'].values.reshape(-1,1))

x = df['Year'].values.reshape(-1,1)
y = df['Price'].values.reshape(-1,1)

Expected format is:
 [[2018]
 [2019]
 [2019]
 [2018]
 [2018]
 [2015]
 [2016]
 [2017]
 [2017]
 [2017]
 [2019]
 [2018]
 [2017]
 [2019]
 [2017]
 [2017]
 [2017]
 [2017]
 [2019]
 [2017]
 [2018]
 [2019]
 [2015]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2019]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2018]
 [2020]
 [2019]
 [2019]
 [2018]
 [2019]
 [2019]
 [2018]
 [2019]
 [2018]
 [2016]
 [2018]
 [2013]
 [2018]
 [2013]
 [2013]
 [2017]
 [2017]
 [2014]
 [2017]
 [2014]
 [2016]
 [2015]
 [2017]
 [2017]
 [2017]
 [2015]
 [2017]
 [2017]
 [2015]
 [2015]
 [2015]
 [2015]
 [2017]
 [2015]
 [2013]
 [2017]
 [2017]
 [2015]
 [2015]
 [2015]
 [2015]
 [2015]
 [2014]
 [2015]
 [2017]
 [2015]
 [2015]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2020]
 [2020]
 [2020]
 [2016]
 [2015]
 [2015]
 [2017]
 [2014]
 [2014]
 [2015]
 [2016]
 [2014]
 [2015]
 [2016]
 [2015]]

In [19]:
# split the dataset to train and test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42) 
print("X_train is \n", X_train) 
print("y_train is \n", y_train)

X_train is
 [[2017]
 [2017]
 [2017]
 [2015]
 [2015]
 [2014]
 [2015]
 [2017]
 [2019]
 [2018]
 [2017]
 [2017]
 [2014]
 [2015]
 [2017]
 [2015]
 [2015]
 [2016]
 [2015]
 [2020]
 [2017]
 [2017]
 [2014]
 [2017]
 [2016]
 [2017]
 [2019]
 [2015]
 [2020]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2018]
 [2019]
 [2015]
 [2017]
 [2018]
 [2017]
 [2018]
 [2015]
 [2016]
 [2015]
 [2017]
 [2017]
 [2017]
 [2013]
 [2015]
 [2019]
 [2015]
 [2017]
 [2014]
 [2015]
 [2019]
 [2014]
 [2016]
 [2017]
 [2017]
 [2017]
 [2017]
 [2014]
 [2016]
 [2017]
 [2017]
 [2017]
 [2017]
 [2020]
 [2019]
 [2013]
 [2019]
 [2019]
 [2017]
 [2017]
 [2016]
 [2017]
 [2017]
 [2015]
 [2015]
 [2018]
 [2015]
 [2017]
 [2015]
 [2017]
 [2017]
 [2018]
 [2015]]
y_train is
 [[525000]
 [520000]
 [540000]
 [434999]
 [320000]
 [390000]
 [325000]
 [500000]
 [650000]
 [450000]
 [575000]
 [550000]
 [341000]
 [490000]
 [550000]
 [400000]
 [350000]
 [375000]
 [450000]
 [545000]
 [550000]
 [500000]
 [400000]
 [450000]
 [420000]
 [575000]
 [550000]
 [400000]
 [600000]
 [550000]
 [500000]
 [520000]
 [520000]
 [550000]
 [509999]
 [480000]
 [600000]
 [600000]
 [409999]
 [550000]
 [465000]
 [550000]
 [475000]
 [400000]
 [425000]
 [300000]
 [520000]
 [520000]
 [525000]
 [325000]
 [325000]
 [500000]
 [450000]
 [540000]
 [300000]
 [425000]
 [600000]
 [450000]
 [396000]
 [520000]
 [550000]
 [490000]
 [550000]
 [400000]
 [550000]
 [595000]
 [520000]
 [486000]
 [550000]
 [700000]
 [755000]
 [345000]
 [500000]
 [700000]
 [550000]
 [520000]
 [350000]
 [490000]
 [520000]
 [390000]
 [425000]
 [500000]
 [490000]
 [490000]
 [300000]
 [475000]
 [520000]
 [550000]
 [350000]]

In [20]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
#let's fit the data
regressor.fit(X_train,y_train)

LinearRegression()

In [21]:
#let's make a prediction
pred=regressor.predict([[2020]])
print("for the given Year the Price will be:",pred)

for the given Year the Price will be: [[648384.48032889]]

In [22]:
y_pred=regressor.predict(X_test)
print("y_pred for the given test data is",y_pred)

y_pred for the given test data is [[600775.91252081]
 [505558.77690466]
 [553167.34471273]
 [553167.34471273]
 [553167.34471273]
 [410341.6412885 ]
 [505558.77690466]
 [553167.34471273]
 [600775.91252081]
 [600775.91252081]
 [315124.50567235]
 [505558.77690466]
 [410341.6412885 ]
 [648384.48032889]
 [553167.34471273]
 [600775.91252081]
 [315124.50567235]
 [410341.6412885 ]
 [505558.77690466]
 [505558.77690466]
 [505558.77690466]
 [505558.77690466]
 [505558.77690466]]

In [23]:
X_test

array([[2019],
       [2017],
       [2018],
       [2018],
       [2018],
       [2015],
       [2017],
       [2018],
       [2019],
       [2019],
       [2013],
       [2017],
       [2015],
       [2020],
       [2018],
       [2019],
       [2013],
       [2015],
       [2017],
       [2017],
       [2017],
       [2017],
       [2017]])

In [24]:
y_pred

array([[600775.91252081],
       [505558.77690466],
       [553167.34471273],
       [553167.34471273],
       [553167.34471273],
       [410341.6412885 ],
       [505558.77690466],
       [553167.34471273],
       [600775.91252081],
       [600775.91252081],
       [315124.50567235],
       [505558.77690466],
       [410341.6412885 ],
       [648384.48032889],
       [553167.34471273],
       [600775.91252081],
       [315124.50567235],
       [410341.6412885 ],
       [505558.77690466],
       [505558.77690466],
       [505558.77690466],
       [505558.77690466],
       [505558.77690466]])

**Lasso Regression**

In [41]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn import datasets

data = datasets.load_boston()
x_data = data.data
y_data = data.target

train_x, test_x, train_y, test_y = train_test_split(x_data, y_data, test_size=0.3, random_state=42)

lasso = Lasso(alpha=1.0)
lasso.fit(train_x, train_y)
print(lasso.score(test_x, test_y)*100)

65.59060829154339

In [42]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn import datasets

data = datasets.load_boston()
x_data = data.data
y_data = data.target

train_x, test_x, train_y, test_y = train_test_split(x_data, y_data, test_size=0.3, random_state=42)

from sklearn.linear_model import LassoCV
lassocv = LassoCV(cv=5, random_state=0, max_iter=10000)
lassocv.fit(train_x, train_y)
al = lassocv.alpha_
print(al)

lasso = Lasso(alpha=al)
lasso.fit(train_x, train_y)
print(lasso.score(test_x, test_y)*100)

0.7051444556162024
67.48582731460068

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)